---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home card">
    <div class="content">

        <h1 class='postTitle'>{{ title }}</h1>
        <h5>
            {{ page.date }}
        </h5>
        <h4>
            Bryan Paget
        </h4>
        <p>
            <em>Abstract: {{ description }}</em>
        </p>

        {{ content | safe }}

            <div class="controls">

            {% if prevPost.url %}

                <p>
                    <strong>Previous post</strong>:
                    <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
                </p>

            {% endif %}

            {% if nextPost.url %}

                <p>
                    <strong>Next post</strong>:
                    <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                </p>

            {% endif %}

        </div>
             <p>
            <em>{{ tags }}</em>
        </p>
            </div>

</div>
