---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home card">
  <div class="content">

    {{ content | safe }}

    <ul class="posts">
        {%- for post in collections.posts -%}

            <li class="no-bullets" {% if page.url == post.url %} aria-current="page"{% endif %}>
                <a href='{{ post.url }}'><h3>{{ post.data.title }}</a></h3><p><em>{{ post.data.description }}</em></p>
            </li>

        {%- endfor -%}
    </ul>

  </div>
</div>
